.edit__video {
  width: 300px;
  height: 30px;
}

.video__data {
  padding: 10px;
  border-radius: 12px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: rgb(90, 89, 89);
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .video__owner {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

#comments__contaniner {
  position: relative;
  top: 50px;
  #commentForm {
    text-align: right;
    textarea {
      border-radius: 7px;
      width: 100%;
      height: 20px;
      resize: none;
    }
    button {
      margin-top: 10px;
      width: 50px;
      height: 20px;
      background-color: #717171;
      color: white;
      border-radius: 10px;
      border: none;
    }
  }

  .video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .video__comment {
      padding: 10px;
      border-radius: 9999px;
      background-color: white;
      color: black;
      margin-bottom: 10px;
      #comment {
        max-width: 30px;
        word-wrap: break-word;
      }
    }
  }
}
