extends base.pug


block content
    h4 비디오 정보 수정
    form(method="post")
        input(name="title", placeholder="제목", required, type="text", maxlength=80, value=video.title)
        input(name="description", placeholder="설명", required, type="text", maxlength=100, value=video.description)
        input(name="hashtags", placeholder="콤마(,)로 구분하여 해시태그", required, type="text", value=video.hashtags.join())
        input(style="text-align: center" type="submit", value="수정")
