extends base

block content 
    form(method="post")
        input(placeholder="email" name="email", type="email" required)
        input(placeholder="username" name="username", type="text" required)
        input(placeholder="pass" name="password", type="password" required)
        input(placeholder="name" name="name", type="text" required)
        input(placeholder="location" name="location", type="text")
        input(type="submit", value="Join")