extends base

block content
    if errorMassage
        span=errorMassage
    form(method="post")
        input(placeholder="아이디" name="username", type="text" required)
        input(placeholder="비밀번호" name="password", type="password" required)
        input(style="text-align: center" type="submit", value="로그인")
        include partials/social-login
    div.auth-switch 
        span 아이디가 없나요? 
        a(href="/join")  회원가입하기 &rarr; 