extends ../base

block content 
    if errorMassage
        span=errorMassage
    form(method="post")
        input(type="password", name="oldPassword" placeholder="기존 비밀변호")
        input(type="password", name="newPassword" placeholder="새 비밀번호")
        input(type="password", name="newPassword1" placeholder="새 비밀번호 확인")
        input(style="text-align: center" type="submit", value="비밀번호 변경")