extends ../base

block content 
    if errorMassage
        span=errorMassage
    form(method="post")
        input(type="password", name="oldPassword" placeholder="Old password")
        input(type="password", name="newPassword" placeholder="New Password")
        input(type="password", name="newPassword1" placeholder="New Password Confirm")
        input(type="submit", value="submit")